html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  ;
}

@keyframes fade {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.timer_window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
  font-size: 120pt;
  text-align: center;
  font-family: monospace;
  border-radius: 10px;
}

.start_button {
  font-size: 20pt;
  background-color: green;
  width: 100%;
  color: black;
  border-radius: 10px;
}

.cancel_button {
  font-size: 20pt;
  background-color: gray;
  width: 100%;
  color: black;
  border-radius: 10px;
}

.done_button {
  font-size: 14pt;
  width: 100%;
  border-radius: 10px;
}

.done_button:disabled {
  background-color: lightgray;
  color: darkgray;
}

.done_button:enabled {
  background-color: gray;
  color: black;
}

#topRightDiv {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  /* Optional: for visibility */
  padding: 10px;
  /* Optional: for spacing */
  color: red;
  animation: fade 2s infinite;
  font-weight: bold;
  font-size: 20pt;
}

#program_table {
  width: 100%;
}